My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6b721240-ba41-4480-86ba-f219099ee590",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1XMjd9o4vs5cR-vtNh2DMwnTLMB2AZ1ed",
            "mode": "list",
            "cachedResultName": "Agent",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1XMjd9o4vs5cR-vtNh2DMwnTLMB2AZ1ed"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "4e00e50f-31f1-44a2-a3eb-7fb13b8070fc",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YrGdxjQe7rqQPyZ0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        440,
        0
      ],
      "id": "157dce3c-cbd0-44d1-bb00-5d45ce09e1e4",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YrGdxjQe7rqQPyZ0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "933bd628-a952-427e-8ee2-a78b9f268b5f",
              "name": "documents",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        0
      ],
      "id": "b21c88df-e0a1-44de-9097-2e1ae511fd29",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "dyanamic",
          "mode": "list",
          "cachedResultName": "dyanamic"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        900,
        0
      ],
      "id": "2f256ac4-0d86-484e-a77c-96fc5859cde8",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "lwEGovE3O0IKoMto",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1160,
        220
      ],
      "id": "67759f60-e64f-4039-8f8e-4ad28e560a88",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "iX6vfspFX52zK2ll",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        820,
        260
      ],
      "id": "7f278061-525a-4864-adf4-befaca0b1b04",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1140,
        440
      ],
      "id": "4bd6728c-2dfa-4631-bff1-32a4acbd10ad",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        20,
        600
      ],
      "id": "aa6ac0ae-7f25-437f-8c9d-35d75ffbfbaa",
      "name": "When chat message received",
      "webhookId": "55b91880-c1c5-45e0-a1c4-f24e2d2b4e0d"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You have been provided with two documents:\n\nIntroduction to Python – covering basic Python programming concepts, syntax, and examples.\n\nDeep Learning – covering core concepts of deep learning, neural networks, and model training techniques.\n\nUse the content from these files as background knowledge.\n\nYour task is to:\n\nUnderstand and retain the information from both files.\n\nAccurately respond to the user's questions based on the content.\n\nProvide helpful, clear, and contextually relevant answers or explanations.\n\nIf the question is unrelated to the documents, respond appropriately using your general knowledge."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        200,
        620
      ],
      "id": "55d35f0c-5202-4ef2-82ea-ebca45c98331",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        180,
        840
      ],
      "id": "4a992233-6645-47a2-9d12-f6c1d8bad28c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "iX6vfspFX52zK2ll",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        300,
        840
      ],
      "id": "d07d27fb-5a34-4973-a7bf-678024f694bd",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "work with data in pinecone vector store",
        "pineconeIndex": {
          "__rl": true,
          "value": "dyanamic",
          "mode": "list",
          "cachedResultName": "dyanamic"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        520,
        840
      ],
      "id": "0d0a95ae-ef07-4fb1-be19-1adf30f4d14d",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "lwEGovE3O0IKoMto",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        620,
        1060
      ],
      "id": "2a000c24-1fa8-4813-a1d6-44fc4776d01a",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "iX6vfspFX52zK2ll",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8a7ecc5f-5406-4acc-9c33-935ac402d1ac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "21a2208a928a896c3662b07bfd4defd165cf7161cef344f60b64b9dfde27ac9e"
  },
  "id": "JoNMLwa3eloEW1Pt",
  "tags": []
}